<ul>
    <li class="card" *ngFor="let carPart of carParts" [class.featured]="carPart.featured">
      <div class="panel-body">
        
        <table class="product-info">
          <div class="photo">
          <img [src]="carPart.image">
        </div>
          <tr>
            <td>
            <h2>{{carPart.name|| uppercase}}</h2>
              <p class="description"> {{carPart.description}}<p>
              <p class="inventory" *ngIf="carPart.inStock>0"> {{carPart.inStock}} in stock<p>
              <p class="inventory" *ngIf="carPart.inStock===0"> Out of stock<p>  
            </td>
            <td class="price">{{carPart.price | currency:'EUR':true}}</td>
            <div class="select-quantity">
            <button class="decrease" (click)="downQuantity(carPart)">-</button>
              {{carPart.quantity}}
            <button class="increase" (click)="upQuantity(carPart)">+</button>
            </div>
          </tr>
        </table>
      </div>
 </li>
</ul>